<a href="https://colab.research.google.com/github/uclove-gotit/unicorn-project/blob/main/Another_copy_of_Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TRAVELTIDE PROJECT

In [ ]:
import pandas as pd
import sqlalchemy as sa

In [ ]:
TravelTide_url = "postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766.us-east-2.aws.neon.tech/TravelTide"

In [ ]:
engine = sa.create_engine(TravelTide_url)
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

In [ ]:
query1 = """
WITH sessions_2023 AS (
  SELECT *
  FROM sessions s
  where s.session_start > '2023-01-04'
),
filtered_users AS (
  SELECT user_id, COUNT(*) FROM sessions_2023 s
  GROUP BY user_id
  HAVING COUNT(*) > 7
),
session_base AS
(select s.session_id, s.user_id, s.trip_id, s.session_start, s.session_end, EXTRACT(EPOCH FROM s.session_end-s.session_start) as session_duration, s.page_clicks,
 s.flight_discount, s.flight_discount_amount, s.hotel_discount, s.hotel_discount_amount, s.flight_booked, s.hotel_booked, s.cancellation,
 u.birthdate, u.gender, u.married, u.has_children, u.home_country, u.home_city, u.home_airport, u.home_airport_lat, u.home_airport_lon,u.sign_up_date,
 f.origin_airport, f.destination, f.destination_airport, f.seats, f.return_flight_booked, f.departure_time, f.return_time, f.checked_bags, f.trip_airline, f.destination_airport_lat, f.destination_airport_lon,f.base_fare_usd,
 h.hotel_name, CASE WHEN h.nights < 0 THEN 1 ELSE h.nights END AS nights, h.rooms, h.check_in_time, h.check_out_time, h.hotel_per_room_usd AS hotel_price_per_room_night_usd
from sessions_2023 s
left join users u
on s.user_id = u.user_id
left join flights f
on s.trip_id = f.trip_id
left join hotels h
on s.trip_id = h.trip_id
WHERE s.user_id IN (SELECT user_id FROM filtered_users)
),
canceled_trips AS (
  SELECT DISTINCT trip_id
  FROM session_base
  WHERE cancellation = TRUE
),
not_canceled_trips AS(
  SELECT *
  FROM session_base
	WHERE trip_id IS NOT NULL
	AND trip_id NOT IN (SELECT trip_id FROM canceled_trips)
  ),
  user_base_session AS
(
SELECT user_id,
  SUM(page_clicks) AS num_clicks,
  COUNT(DISTINCT session_id) AS num_sessions,
  AVG(session_duration) AS avg_session_duration
FROM session_base
GROUP BY user_id
),
user_base_trip AS
(SELECT user_id,
 COUNT(DISTINCT trip_id) AS num_trips,
 SUM(CASE WHEN (flight_booked = TRUE) AND (return_flight_booked = TRUE) THEN 2 WHEN flight_booked = TRUE THEN 1 ELSE 0 END) AS num_flights,
COALESCE((SUM((hotel_price_per_room_night_usd * nights * rooms) * (1 - (CASE WHEN hotel_discount_amount IS NULL THEN 0 ELSE hotel_discount_amount END)))),0) AS money_spend_hotel,
AVG(EXTRACT(DAY FROM departure_time-session_end)) AS time_after_booking,
AVG(haversine_distance(home_airport_lat, home_airport_lon, destination_airport_lat, destination_airport_lon)) AS avg_km_flown,
AVG(checked_bags) as avg_bags
FROM not_canceled_trips
GROUP BY user_id
),
user_metrics AS
(SELECT b.*,
EXTRACT(YEAR FROM AGE(u.birthdate)) AS age, u.gender, u.married, u.has_children, u.home_country, u.home_city, u.home_airport,
COALESCE(t.num_trips,0) AS num_trips, COALESCE(t.num_flights,0) AS num_flights, COALESCE(t.money_spend_hotel,0) AS money_spend_hotel, COALESCE(t.time_after_booking,0) AS time_after_booking, COALESCE(t.avg_km_flown,0) AS avg_km_flown, COALESCE(t.avg_bags,0) AS avg_bags
FROM user_base_session b
LEFT JOIN users u
ON b.user_id = u.user_id
LEFT JOIN user_base_trip t
ON b.user_id = t.user_id)

SELECT *,
   CASE
      WHEN has_children=True THEN 'Family Traveller'
      WHEN age>60 THEN 'Senior travellers'
      WHEN age<60 THEN
           CASE
             WHEN num_trips<=2 THEN 'Dreamers'
             WHEN age<30 AND num_trips>2 THEN 'Young frequent traveller'
             WHEN age>30 THEN
                CASE
                  WHEN num_trips>5 THEN 'Business Travellers'
                  WHEN num_trips BETWEEN 2 AND 5 THEN 'Young adult frequent travellers'
                  ELSE 'Others'
                END
             ELSE 'Others'
        END
      ELSE 'Others'
   END AS Customer_group
FROM user_metrics;

"""
print(query1)
pd.read_sql(sa.text(query1),connection)

WITH sessions_2023 AS (
  SELECT *
  FROM sessions s
  where s.session_start > '2023-01-04'
),
filtered_users AS (
  SELECT user_id, COUNT(*) FROM sessions_2023 s
  GROUP BY user_id
  HAVING COUNT(*) > 7
),
session_base AS
(select s.session_id, s.user_id, s.trip_id, s.session_start, s.session_end, EXTRACT(EPOCH FROM s.session_end-s.session_start) as session_duration, s.page_clicks,
 s.flight_discount, s.flight_discount_amount, s.hotel_discount, s.hotel_discount_amount, s.flight_booked, s.hotel_booked, s.cancellation,
 u.birthdate, u.gender, u.married, u.has_children, u.home_country, u.home_city, u.home_airport, u.home_airport_lat, u.home_airport_lon,u.sign_up_date,
 f.origin_airport, f.destination, f.destination_airport, f.seats, f.return_flight_booked, f.departure_time, f.return_time, f.checked_bags, f.trip_airline, f.destination_airport_lat, f.destination_airport_lon,f.base_fare_usd,
 h.hotel_name, CASE WHEN h.nights < 0 THEN 1 ELSE h.nights END AS nights, h.rooms, h.check_in_time, h.check_out_time, h.hotel_per_room_usd AS hotel_price_per_room_night_usd
from sessions_2023 s
left join users u
on s.user_id = u.user_id
left join flights f
on s.trip_id = f.trip_id
left join hotels h
on s.trip_id = h.trip_id
WHERE s.user_id IN (SELECT user_id FROM filtered_users)
),
canceled_trips AS (
  SELECT DISTINCT trip_id
  FROM session_base
  WHERE cancellation = TRUE
),
not_canceled_trips AS(
  SELECT *
  FROM session_base
	WHERE trip_id IS NOT NULL
	AND trip_id NOT IN (SELECT trip_id FROM canceled_trips)
  ),
  user_base_session AS
(
SELECT user_id,
  SUM(page_clicks) AS num_clicks,
  COUNT(DISTINCT session_id) AS num_sessions,
  AVG(session_duration) AS avg_session_duration
FROM session_base
GROUP BY user_id
),
user_base_trip AS
(SELECT user_id,
 COUNT(DISTINCT trip_id) AS num_trips,
 SUM(CASE WHEN (flight_booked = TRUE) AND (return_flight_booked = TRUE) THEN 2 WHEN flight_booked = TRUE THEN 1 ELSE 0 END) AS num_flights,
COALESCE((SUM((hotel_price_per_room_night_usd * nights * rooms) * (1 - (CASE WHEN hotel_discount_amount IS NULL THEN 0 ELSE hotel_discount_amount END)))),0) AS money_spend_hotel,
AVG(EXTRACT(DAY FROM departure_time-session_end)) AS time_after_booking,
AVG(haversine_distance(home_airport_lat, home_airport_lon, destination_airport_lat, destination_airport_lon)) AS avg_km_flown,
AVG(checked_bags) as avg_bags
FROM not_canceled_trips
GROUP BY user_id
),
user_metrics AS
(SELECT b.*,
EXTRACT(YEAR FROM AGE(u.birthdate)) AS age, u.gender, u.married, u.has_children, u.home_country, u.home_city, u.home_airport,
COALESCE(t.num_trips,0) AS num_trips, COALESCE(t.num_flights,0) AS num_flights, COALESCE(t.money_spend_hotel,0) AS money_spend_hotel, COALESCE(t.time_after_booking,0) AS time_after_booking, COALESCE(t.avg_km_flown,0) AS avg_km_flown, COALESCE(t.avg_bags,0) AS avg_bags
FROM user_base_session b
LEFT JOIN users u
ON b.user_id = u.user_id
LEFT JOIN user_base_trip t
ON b.user_id = t.user_id)

SELECT *,
   CASE
      WHEN has_children=True THEN 'Family Traveller'
      WHEN age>60 THEN 'Senior travellers'
      WHEN age<60 THEN
           CASE
             WHEN num_trips<=2 THEN 'Dreamers'
             WHEN age<30 AND num_trips>2 THEN 'Young frequent traveller'
             WHEN age>30 THEN
                CASE
                  WHEN num_trips>5 THEN 'Business Travellers'
                  WHEN num_trips BETWEEN 2 AND 5 THEN 'Young adult frequent travellers'
                  ELSE 'Others'
                END
             ELSE 'Others'
        END
      ELSE 'Others'
   END AS Customer_group
FROM user_metrics;

,user_id,num_clicks,num_sessions,avg_session_duration,age,gender,married,has_children,home_country,home_city,home_airport,num_trips,num_flights,money_spend_hotel,time_after_booking,avg_km_flown,avg_bags,customer_group
0,23557,82,8,76.625000,66.0,F,True,False,usa,new york,LGA,2,0,3670.5,0.00,0.000000,0.000000,Senior travellers
1,94883,73,8,67.750000,53.0,F,True,False,usa,kansas city,MCI,2,4,130.0,6.50,1451.335404,0.500000,Dreamers
2,101486,131,8,122.250000,52.0,F,True,True,usa,tacoma,TCM,2,2,2199.0,9.00,995.681600,0.000000,Family Traveller
3,101961,126,8,117.750000,44.0,F,True,False,usa,boston,BOS,5,10,2429.0,5.60,1366.569097,0.400000,Young adult frequent travellers
4,106907,240,8,758.915066,46.0,F,True,True,usa,miami,TNT,0,0,0.0,0.00,0.000000,0.000000,Family Traveller
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5993,792549,114,8,106.875000,47.0,F,False,False,usa,kansas city,MCI,4,8,144.0,4.75,1459.165621,0.500000,Young adult frequent travellers
5994,796032,148,8,545.319542,52.0,F,True,False,canada,winnipeg,YAV,2,4,1261.0,7.00,1876.245079,0.500000,Dreamers
5995,801660,115,8,106.000000,55.0,F,True,True,canada,toronto,YKZ,3,6,872.0,6.00,710.553530,0.333333,Family Traveller
5996,811077,105,8,99.125000,46.0,F,True,True,usa,knoxville,TYS,1,2,852.0,10.00,3223.161635,0.000000,Family Traveller
5997,844489,99,8,93.125000,24.0,M,False,True,usa,el paso,BIF,0,0,0.0,0.00,0.000000,0.000000,Family Traveller