<a href="https://colab.research.google.com/github/uclove-gotit/unicorn-project/blob/main/UNICORN_PROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New section

# MASTERSCHOOL UNICORN PROJECT: UCHECHUKWU HOFFMANN

## PREPARATION

## INSTALLING AND IMORTING PACKAGES

In [2]:
import pandas as pd
import sqlalchemy as sa

## making a connection

In [3]:
unicorn_url = "postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Unicorn"

In [4]:
engine = sa.create_engine(unicorn_url)
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

# practice

# answering question

# schema

# task

##q1

How many customers do we have in the data?

In [1]:
query="""
select count(*) as total_customer
from customers;
"""
pd.read_sql(sa.text(query),connection)

NameError: name 'pd' is not defined

##q2
What was the city with the most profit for the company in 2015?

In [7]:
query="""
select count(customer_id) as customers
from customers;
select o.shipping_city as city,
       sum(od.order_profits
          ) as total_profit

from orders o
    join order_details od on o.order_id = od.order_id
where
   o.order_date between '2015-01-01' and '2015-12-31'
 group by city
 order by total_profit desc
 limit 1;

"""
pd.read_sql(sa.text(query),connection)

            city  total_profit
0  New York City       14753.0

##q3

In 2015, what was the most profitable city's profit?

In [12]:
query="""
WITH city_profits AS (
    SELECT
        o.shipping_city,
        SUM(od.order_profits) AS total_profit
    FROM
        orders o
    JOIN
        order_details od ON o.order_id = od.order_id
    WHERE
        EXTRACT(YEAR FROM o.order_date) = 2015
    GROUP BY
        o.shipping_city
)
SELECT
    MAX(total_profit) AS most_profitable_profit
FROM
    city_profits;
"""
pd.read_sql(sa.text(query),connection)

   most_profitable_profit
0                 14753.0

##q4

How many different cities do we have in the data?

In [13]:
query="""
select count(distinct o.shipping_city) as cities
 from orders o;

 SELECT
    c.customer_name,
    SUM(od.order_sales) AS total_spent
FROM
    customers c
JOIN
    orders o ON c.customer_id = o.customer_id
JOIN
    order_details od ON o.order_id = od.order_id
GROUP BY
    c.customer_name
ORDER BY
    total_spent ASC;
"""
pd.read_sql(sa.text(query),connection)

       customer_name  total_spent
0      Thais Sissman          5.0
1       Lela Donovan          5.0
2    Mitch Gastineau         16.0
3       Carl Jackson         17.0
4         Roy Skaria         22.0
..               ...          ...
788     Tom Ashbrook      14596.0
789     Raymond Buch      15117.0
790         John Lee      16744.0
791     Tamara Chand      19050.0
792      Sean Miller      25042.0

[793 rows x 2 columns]

##q5

Show the total spent by customers from low to high.

In [14]:
query="""
SELECT
    c.customer_name,
    SUM(od.order_sales) AS total_spent
FROM
    customers c
JOIN
    orders o ON c.customer_id = o.customer_id
JOIN
    order_details od ON o.order_id = od.order_id
GROUP BY
    c.customer_name
ORDER BY
    total_spent asc;
"""
pd.read_sql(sa.text(query),connection)

       customer_name  total_spent
0      Thais Sissman          5.0
1       Lela Donovan          5.0
2    Mitch Gastineau         16.0
3       Carl Jackson         17.0
4         Roy Skaria         22.0
..               ...          ...
788     Tom Ashbrook      14596.0
789     Raymond Buch      15117.0
790         John Lee      16744.0
791     Tamara Chand      19050.0
792      Sean Miller      25042.0

[793 rows x 2 columns]

##q6

What is the most profitable city in the State of Tennessee?

In [17]:
query="""
SELECT
    o.shipping_city,
    SUM(od.order_profits) AS total_profit
FROM
    orders o
JOIN
    order_details od ON o.order_id = od.order_id
WHERE
    o.shipping_state = 'Tennessee'
GROUP BY
    o.shipping_city
ORDER BY
    total_profit DESC
LIMIT 1;

"""
pd.read_sql(sa.text(query),connection)

  shipping_city  total_profit
0       Lebanon          83.0

##q7

What’s the average annual profit for that city across all years?

In [18]:
query="""
SELECT
    EXTRACT(YEAR FROM o.order_date) AS year,
    AVG(od.order_profits) AS avg_annual_profit
FROM orders o
JOIN order_details od ON o.order_id = od.order_id
WHERE o.shipping_city ='Lebanon'
GROUP BY year, od.order_profits

ORDER BY  avg_annual_profit
;
"""
pd.read_sql(sa.text(query),connection)

     year  avg_annual_profit
0  2016.0                6.0
1  2017.0               18.0
2  2018.0               59.0

##q8

What is the distribution of customer types in the data?

In [19]:
query="""
SELECT
    customer_segment,
    COUNT(*) AS count_per_segment
FROM
    customers
GROUP BY
    customer_segment;

"""
pd.read_sql(sa.text(query),connection)

  customer_segment  count_per_segment
0         Consumer                410
1        Corporate                237
2      Home Office                148

##q9

What’s the most profitable product category on average in Iowa across all years?

In [20]:
query="""
SELECT
    p.product_category,
    AVG(od.order_profits) AS avg_profit
FROM
    product p
JOIN
    order_details od ON p.product_id = od.product_id
JOIN
    orders o ON od.order_id = o.order_id
WHERE
    o.shipping_state = 'Iowa'
GROUP BY
    p.product_category
ORDER BY
    avg_profit DESC
LIMIT 1;
"""
pd.read_sql(sa.text(query),connection)

  product_category  avg_profit
0        Furniture      130.25

##q10

What is the most popular product in that category across all states in 2016?

In [22]:
query="""
WITH popular_category AS (
    SELECT
        p.product_category
    FROM
        product p
    JOIN
        order_details od ON p.product_id = od.product_id
    JOIN
        orders o ON od.order_id = o.order_id
    WHERE
        o.shipping_state = 'Iowa'
    GROUP BY
        p.product_category

     ORDER BY
        AVG(od.order_profits) DESC
    LIMIT 1
)
SELECT
    p.product_name,
    SUM(od.quantity) AS total_quantity
FROM
    product p
JOIN
    order_details od ON p.product_id = od.product_id
JOIN
    orders o ON od.order_id = o.order_id
WHERE
    p.product_category = (SELECT product_category FROM popular_category)
    AND EXTRACT(YEAR FROM o.order_date) = 2016
GROUP BY
    p.product_name
ORDER BY
    total_quantity DESC
LIMIT 1;
"""
pd.read_sql(sa.text(query),connection)

                                 product_name  total_quantity
0  Global Push Button Manager's Chair, Indigo            22.0

##q11

Which customer got the most discount in the data? (in total amount)

In [23]:
query="""
SELECT
    c.customer_name,
    SUM(od.order_discount) AS total_discount
FROM
    customers c
JOIN
    orders o ON c.customer_id = o.customer_id
JOIN
    order_details od ON o.order_id = od.order_id
GROUP BY
    c.customer_name
ORDER BY
    total_discount DESC
LIMIT 1;
"""
pd.read_sql(sa.text(query),connection)

      customer_name  total_discount
0  Zuschuss Carroll             7.9

##12

How widely did monthly profits vary in 2018?

In [24]:
query="""
WITH monthly_profits AS (
    SELECT
        EXTRACT(MONTH FROM o.order_date) AS month,
        SUM(od.order_profits) AS total_profit
    FROM
        orders o
    JOIN
        order_details od ON o.order_id = od.order_id
    WHERE
        EXTRACT(YEAR FROM o.order_date) = 2018
    GROUP BY
        EXTRACT(MONTH FROM o.order_date)
)
SELECT
    MAX(total_profit) - MIN(total_profit) AS profit_variation
FROM
    monthly_profits;
"""
pd.read_sql(sa.text(query),connection)

   profit_variation
0           13824.0

##q13

Which was the biggest order regarding sales in 2015?

In [25]:
query="""
SELECT
    od.order_id,
    SUM(od.order_sales) AS total_sales
FROM
    order_details od
JOIN
    orders o ON od.order_id = o.order_id
WHERE
    EXTRACT(YEAR FROM o.order_date) = 2015
GROUP BY
    od.order_id
ORDER BY
    total_sales DESC
LIMIT 1;

"""
pd.read_sql(sa.text(query),connection)

         order_id  total_sales
0  CA-2015-145317      23660.0

##q14

What was the rank of each city in the East region in 2015 in quantity?

In [26]:
query="""
WITH city_quantities AS (
    SELECT
        o.shipping_city,
        SUM(od.quantity) AS total_quantity
    FROM
        orders o
    JOIN
        order_details od ON o.order_id = od.order_id
    WHERE
        o.shipping_region = 'East'
        AND EXTRACT(YEAR FROM o.order_date) = 2015
    GROUP BY
        o.shipping_city
)
SELECT
    shipping_city,
    total_quantity,
    RANK() OVER (ORDER BY total_quantity DESC) AS rank
FROM
    city_quantities;

"""
pd.read_sql(sa.text(query),connection)

    shipping_city  total_quantity  rank
0   New York City          1708.0     1
1    Philadelphia           403.0     2
2        Columbus           167.0     3
3          Newark            64.0     4
4       Fairfield            53.0     5
5      Long Beach            44.0     6
6        Lakewood            38.0     7
7       Lancaster            36.0     8
8        Lawrence            31.0     9
9           Dover            30.0    10
10     Hackensack            28.0    11
11         Bangor            24.0    12
12          Utica            24.0    12
13         Lowell            23.0    14
14        Yonkers            22.0    15
15     Wilmington            21.0    16
16        Clinton            20.0    17
17      Baltimore            20.0    17
18       Cranston            20.0    17
19        Everett            19.0    20
20     Providence            19.0    20
21        Buffalo            19.0    20
22         Medina            16.0    23
23        Meriden            15.0    24
24        Beverly            15.0    24
25   New Rochelle            14.0    26
26        Bristol            14.0    26
27      Hempstead            12.0    28
28      Cleveland            12.0    28
29      Rochester            12.0    28
30         Toledo            12.0    28
31      Watertown            12.0    28
32        Chester            11.0    33
33           Troy            11.0    33
34       Franklin            11.0    33
35          Akron            10.0    36
36        Clifton             9.0    37
37      Jamestown             9.0    37
38        Concord             9.0    37
39       Columbia             8.0    40
40         Lorain             8.0    40
41       Hamilton             8.0    40
42     Cincinnati             8.0    40
43          Mason             7.0    44
44   Mount Vernon             7.0    44
45         Linden             7.0    44
46        Reading             6.0    47
47         Revere             6.0    47
48           Kent             5.0    49
49      Oceanside             5.0    49
50    Springfield             5.0    49
51         Orange             4.0    52
52          Parma             4.0    52
53  Niagara Falls             3.0    54
54     Plainfield             3.0    54
55         Marion             3.0    54
56  Bowling Green             2.0    57
57       Freeport             2.0    57
58     Middletown             2.0    57
59     Woonsocket             2.0    57

##15

Display customer names for customers who are in the segment ‘Consumer’ or ‘Corporate.’ How many customers are there in total?

In [37]:
query="""
SELECT
    c.customer_name
FROM
    customers c
WHERE
    c.customer_segment IN ('Consumer', 'Corporate');

SELECT
    COUNT(*) AS total_customers
FROM
    customers
WHERE
    customer_segment IN ('Consumer', 'Corporate');

"""
pd.read_sql(sa.text(query),connection)

   total_customers
0              647

##q16

Calculate the difference between the largest and smallest order quantities for product id ‘100.’

In [31]:
query="""
SELECT
    MAX(od.quantity) - MIN(od.quantity) AS quantity_difference
FROM
    order_details od
WHERE
    od.product_id = '100';

"""
pd.read_sql(sa.text(query),connection)

   quantity_difference
0                    4

##q17

Calculate the percent of products that are within the category ‘Furniture’.

In [33]:
query="""
WITH total_products AS (
    SELECT
        COUNT(*) AS total_count
    FROM
        product
),
furniture_products AS (
    SELECT
        COUNT(*) AS furniture_count
    FROM
        product
    WHERE
        product_category = 'Furniture'
)
SELECT
    (furniture_count::DECIMAL / total_count) * 100 AS furniture_percentage
FROM
    total_products, furniture_products;

"""
pd.read_sql(sa.text(query),connection)

   furniture_percentage
0             20.540541

##q18

Display the number of product manufacturers with more than 1 product in the product table.

In [34]:
query="""
SELECT
    product_manufacturer,
    COUNT(*) AS product_count
FROM
    product
GROUP BY
    product_manufacturer
HAVING
    COUNT(*) > 1;

"""
pd.read_sql(sa.text(query),connection)

    product_manufacturer  product_count
0                 Linden              2
1                Iceberg              3
2                SanDisk              8
3                Memorex             13
4                Bulldog              2
..                   ...            ...
164              Brother              2
165           Strathmore              3
166              Fiskars              4
167             OtterBox              4
168           Pressboard              4

[169 rows x 2 columns]

##q19

Show the product_subcategory and the total number of products in the subcategory.
Show the order from most to least products and then by product_subcategory name ascending.

In [35]:
query="""
SELECT
    product_subcategory,
    COUNT(*) AS total_products
FROM
    product
GROUP BY
    product_subcategory;
"""
pd.read_sql(sa.text(query),connection)

   product_subcategory  total_products
0               Tables              56
1                  Art             157
2            Bookcases              50
3              Storage             132
4            Fasteners              34
5            Envelopes              44
6           Appliances              97
7          Accessories             147
8                Paper             277
9               Phones             189
10             Binders             211
11             Copiers              13
12              Labels              70
13            Supplies              36
14              Chairs              88
15            Machines              63
16         Furnishings             186

##20

Show the product_id(s), the sum of quantities, where the total sum of its product quantities is greater than or equal to 100.

In [36]:
query="""
SELECT
    product_subcategory,
    COUNT(*) AS total_products
FROM
    product
GROUP BY
    product_subcategory
ORDER BY
    total_products DESC,
    product_subcategory ASC;

"""
pd.read_sql(sa.text(query),connection)

   product_subcategory  total_products
0                Paper             277
1              Binders             211
2               Phones             189
3          Furnishings             186
4                  Art             157
5          Accessories             147
6              Storage             132
7           Appliances              97
8               Chairs              88
9               Labels              70
10            Machines              63
11              Tables              56
12           Bookcases              50
13           Envelopes              44
14            Supplies              36
15           Fasteners              34
16             Copiers              13